/bot/.idea/
/bot/venv/
/django/.idea/
/django/static/
/django/venv/
/bot/.env
/.env
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/indibot-dev.iml
/bot/.idea/
